div.cn-dashboard-recent-modified { background-color:#FFFFFF; border:1px solid #E3E3E3; position: relative; }
div.cn-dashboard-recent-modified a { text-decoration: none; }
div.cn-dashboard-recent-modified div.cn-list-row { margin: 0; padding: 4px; }
div.cn-dashboard-recent-modified div.cn-list-row-alternate { background-color: #F9F9F9; margin: 0; padding: 4px; }
div.cn-dashboard-recent-modified span.cn-list-date { position: absolute; right: 4px; }