# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Exclude the following from being included in the archive.
/bin export-ignore
#/build export-ignore
/docs export-ignore
/logs export-ignore
/node_modules export-ignore
/tests export-ignore

/composer.json
/composer.lock

/vendor/symfony export-ignore
/vendor/doctrine export-ignore
/vendor/sebastian export-ignore
/vendor/webmozart export-ignore
/vendor/phpdocumentor export-ignore
/vendor/phpspec export-ignore
/vendor/myclabs export-ignore
/vendor/phpunit export-ignore
/vendor/bin export-ignore
/vendor/phpunit export-ignore
/vendor/composer export-ignore
/vendor/autoload.php export-ignore

/.tx export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.scrutinizer.yml export-ignore
/.jshintrc export-ignore
/.editorconfig export-ignore
/.csslintrc export-ignore
/.csslintrc-strict export-ignore
/.travis.yml export-ignore
/CHANGELOG.txt export-ignore
/README.md export-ignore
/phpunit.xml export-ignore
