.cn-birthday-dark { -moz-border-radius:4px; color: #FFFFFF; background-color:#000000; border:1px solid #E3E3E3; position: relative; }
.cn-birthday-dark .cn-upcoming-title { font-size: large; font-variant: small-caps; font-weight: bold; padding: 8px 0; text-align: center; }
.cn-birthday-dark .cn-upcoming-row { margin: 0; padding: 4px 12px; }
.cn-birthday-dark .cn-upcoming-row-alternate { margin: 0; padding: 4px 12px; }
.cn-birthday-dark span.cn-upcoming-date { position: absolute; right: 12px; }
